name: test-github-actions

on:
  push:
    branches:
      - 'main'
    # paths:
    #   - 'web/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy
      uses: appleboy/ssh-action@master
      with:
        host: 192.168.1.1
        port: 8080
        username: root
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /path/to/my-project
          git reset --hard HEAD^
          git pull
    - name: Build
      uses: appleboy/ssh-action@master
      with:
        host: 192.168.1.1
        port: 8080
        username: root
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /path/to/my-project
          docker compose up --build